@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* Primary */
    --veryDarkBlue: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);

    /* Accent */
    --brightBlue: hsl(224, 93%, 58%);
    --moderateCyan: hsl(170, 45%, 43%);

    /* Neutral */
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);
    --fontTitle: 'Raleway', sans-serif;
    --fontBody: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    font-family: var(--fontBody);
    font-weight: 400;
    font-size: 1rem;
}
body::-webkit-scrollbar {
    display: none;
}
.main-container {
    min-height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.navbar #logo {
    max-width: 26%;
}
.navbar-buttons {
    display: flex;
    align-items: center;
}
.nav-button {
    margin: 0 5px;
    border: none;
    background-color: white;
}

/* ------------------------------------------------------ */

.section--1,
.section--2,
.section--3,
.footer {
    display: grid;
    grid-template-columns: auto;
    padding: 5rem 1.7rem;
}
.section--1,
.section--2,
.section--3 {
    justify-content: center;
}

/* ------------------------------------------------------ */

.section--1 {
    text-align: center;
}
.section--2 {
    background: url(../images/bg-curve-mobile.svg) no-repeat;
    background-size: cover;
    background-position: top;
}
.section--3 {
    text-align: center;
    background-color: var(--desaturatedBlue);
    color: var(--lightGrayishBlue);
    padding-right: 3.7rem;
    padding-left: 3.7rem;
}

/* ------------------------------------------------------ */

.section--1 #illustration-1,
.section--2 #illustration-2 {
    display: block;
    justify-self: center;
    max-width: 300px;
}

/* ------------------------------------------------------ */

.section--1 h1,
.section--2 h2,
.section--3 h2 {
    font-family: var(--fontTitle);
    font-weight: 700;
}
.section--1 h1 {
    color: var(--veryDarkBlue);
    font-size: 1.8rem;
    margin: 2.1875rem 0;
}
.section--2 h2 {
    color: var(--veryDarkBlue);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.section--3 h2 {
    color: var(--lightGrayishBlue);
    font-size: 1.3rem;
}

/* ------------------------------------------------------ */

.section--1 p,
.section--2 p,
.section--3 p {
    line-height: 1.375rem;
    margin: 1.25rem 0;
}

/* ------------------------------------------------------ */

.footer {
    background-color: var(--veryDarkBlue);
    font-size: 0.8rem;
}
.footer ul {
    list-style: none;
    color: var(--lightGrayishBlue);
    margin: 0.625rem 0;
}
.footer li {
    margin: 1.12rem 0;
}
.footer .social-media {
    justify-self: center;
}
.footer .social-media #facebook {
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.3125rem;
}
.footer .social-media #twitter {
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.3125rem;
}
.footer .social-media #instagram {
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.3125rem;
}
/* ------------------------------------------------------ */

.productivity-section--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}
.productivity-section--description #arrow-link {
    text-decoration: none;
    background-image: url("/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: 1.5625rem 1.5625rem;
    background-position: right;
    margin-top: 1.25rem;
    padding-right: 2.1875rem;
    color: var(--moderateCyan);
    border-bottom: 1px solid var(--moderateCyan);
}
.productivity-section--comment {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-self: center;
    max-width: 95%;
    background-color: white;
    background-image: url(../images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: 8% 10%;
    padding: 1.5625rem;
    border-radius: 0.3125rem;
    box-shadow: 0px 0px 15px 0px var(--lightGray);
}
.productivity-section--comment #comment {
    font-size: 0.87rem;
}
.productivity-section--comment #profile {
    display: grid;
    margin: 0;
    grid-template-columns: 3.75rem auto;
    grid-template-areas: 
        "picture name"
        "picture nouns"
        ;
    grid-area: name;
    font-size: 0.75rem;
    color: var(--veryDarkBlue);
}
.productivity-section--comment #profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    grid-area: picture;
}
.productivity-section--comment #profile-nouns {
    grid-area: nouns;
    color: var(--veryDarkBlue);
}


/* ------------------------------------------------------ */

input {
    font-family: inherit;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-field {
    display: flex;
    flex-direction: column;
}
.input {
    border: 1px solid var(--desaturatedBlue);
    border-radius: 4px;
    margin-bottom: 0.625rem;
    padding: 1rem;
    box-shadow: 5px 6px 13px -11px rgba(0,0,0,0.61);
}
.input:focus {
    outline: none;
}
.form-field.error input {
    border-color: red;
}
.form-field.error .input::placeholder {
    color: transparent;
}

.form-field small {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    color: red;
}

.submit-button {
    color: var(--lightGrayishBlue);
    background-color: var(--brightBlue);
    cursor: pointer;
}
.submit-button:hover {
    opacity: 0.7;
}



/* ------------------------------------------------------ */


@media (min-width: 424px) and (max-width: 850px) {
    img,
    .files-section--description,
    .productivity-section--description,
    .productivity-section--comment,
    .early-access-section--description,
    .form {
        max-width: 23rem;
    }
}

@media (min-width: 851px) {
    /* SECTION--1 */
    .files-section {
        text-align: left;
        grid-template-areas: 
        "filesDescription illustration1"
        "filesForm illustration1"
        ;
        column-gap: 5rem;

    }
    .files-section h1 {
        margin: 0;
    }
    .files-section--description {
        grid-area: filesDescription;
        margin-bottom: 10px;
        max-width: 27rem;
    }
    .files-section--form {
        grid-area: filesForm;
        flex-direction: row;
        align-items: center;
        column-gap: 0.625rem;
    }
    .files-section .form-field {
        flex-direction: row;
        width: 60%;
    }
    .files-section--form input[type="email"] {
        width: 100%;
        margin: 0;
    }
    .files-section--form input[type="submit"] {
        width: 40%;
        margin: 0;
    }
    .files-section #illustration-1 {
        grid-area: illustration1;
        align-self: center;
        max-width: 27rem;
    }

    /* SECTION--2 */
    .productivity-section {
        /* grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); */
        grid-template-areas: 
        "productivityDescription illustration2"
        "productivityComment illustration2"
        ;
        column-gap: 5rem;
        background-image: url(../images/bg-curve-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    .productivity-section--description {
        grid-area: productivityDescription;
        align-items: flex-start;
        max-width: 27rem;
    }
    .productivity-section--comment {
        grid-area: productivityComment;
        justify-self: left;
        max-width: 25rem;
    }
    .productivity-section #illustration-2 {
        grid-area: illustration2;
        align-self: center;
        max-width: 27rem;
    }

    /* SECTION--3 */
    .early-access-section {
        text-align: left;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
        grid-template-areas: 
        "earlyDescription earlyForm"
        ;
        padding: 5rem 1.7rem;
    }
    .early-access-section--description {
        grid-area: earlyDescription;
        margin-right: 25px;
    }
    .early-access-section--form {
        grid-area: earlyForm;
    }
    .early-access-section--form input[type="email"] {
        width: 90%;
    }
    .early-access-section--form input[type="submit"] {
        width: 40%;
    }

    /* FOOTER */
    .footer {
        grid-template-areas: 
        "logo logo logo logo"
        "contactInfo links1 links2 socialMedia"
        ;
    }
    .footer #logo-dark {
        grid-area: logo;
    }
    .footer .contact-information {
        grid-area: contactInfo;
    }
    .footer .about-us {
        grid-area: links1;
    }
    .footer .contact-us {
        grid-area: links2;
    }
    .footer .social-media {
        grid-area: socialMedia;
        align-self: center;
    }
}

@media (min-width: 1280px) {
    .files-section--description {
        max-width: 60%;
        align-self: center;
        justify-self: center;
    }
    .files-section--form {
        align-items: start;
        min-width: 61%;
        justify-self: center;
    }
    .files-section #illustration-1 {
        max-width: 90%;
    }
}