@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); 
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

:root {
    /* Primary */
    --veryDarkBlue: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);

    /* Accent */
    --brightBlue: hsl(224, 93%, 58%);
    --moderateCyan: hsl(170, 45%, 43%);

    /* Neutral */
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);
}
* {
    margin: 0;
    padding: 0;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    font-size: 1rem;
}
body::-webkit-scrollbar {
    display: none;
}
.main-container {
    min-height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.navbar #logo {
    max-width: 26%;
}
.navbar-buttons {
    display: flex;
    align-items: center;
}
.nav-button {
    margin: 0 5px;
    border: none;
    background-color: white;
}

/* ------------------------------------------------------ */

.section--1,
.section--2,
.section--3,
.footer {
    display: grid;
    grid-template-columns: auto;
    padding: 1.5rem 1.5rem;
}

/* ------------------------------------------------------ */

.section--1 {
    text-align: center;
}
.section--2 {
    background: url(../images/bg-curve-mobile.svg) no-repeat;
    background-size: cover;
    background-position: top;
}
.section--2 a {
    font-size: 1.25rem;
    text-decoration: none;
    background-image: url("/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: 1.5625rem 1.5625rem;
    background-position: right;
    padding-right: 2.1875rem;
    color: var(--moderateCyan);
    border-bottom: 1px solid var(--moderateCyan);
    /* -webkit-transition: all 200ms ease-in-out; */
    /* transition: all 200ms ease-in-out; */
}
.section--1 #illustration-1,
.section--2 #illustration-2 {
    display: block;
    justify-self: center;
    max-width: 300px;
}
.section--1 h1 {
    color: var(--veryDarkBlue);
    font-size: 1.8rem;
    margin: 0.9375rem 0;
}
.section--2 h2,
.section--3 h2 {
    color: var(--veryDarkBlue);
    text-align: center;
    font-size: 1.3rem;
    
}
.section--1 p,
.section--2 p,
.section--3 p {
    font-size: 1.1rem;
    line-height: 1.375rem;
    margin: 15px 0;
}


/* ------------------------------------------------------ */

.productivity-section--description {
    margin: 28px 0;
}
.productivity-section--comment {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    background-image: url(../images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: 8% 10%;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px var(--lightGray);
}
.productivity-section--comment #profile {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-areas: 
        "picture name"
        "picture nouns"
        ;
    grid-area: name;
    font-size: 0.8rem;
    color: var(--veryDarkBlue);
}
.productivity-section--comment #profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    grid-area: picture;
}
.productivity-section--comment #profile-nouns {
    grid-area: nouns;
    color: var(--veryDarkBlue);
}


/* ------------------------------------------------------ */

.form {
    display: flex;
    flex-direction: column;
}
.form-field {
    border: 1px solid var(--desaturatedBlue);
    border-radius: 1px;
    margin-bottom: 0.625rem;
    height: 2rem;
}
.form-field::placeholder {
    padding-left: 10px;
}
.submit-button {
    color: var(--lightGrayishBlue);
    background-color: var(--brightBlue);
}